<%= form_tag "/email_notify", remote: true %>
<table>
    <tr>
        <td>
            <%= text_field_tag "email", nil, placeholder: "Insira seu email",  class: "form-control" %>
        </td>
        <td>
            <%= submit_tag "Enviar", class: "form-control" %>
        </td>
    </tr>
</table>
</form>